#vis_div {
 width: 90%;
 margin-left: 5%;
}

.graph_div {
 padding: 2em 2em 2em 2em;
 float: left;
}

#menu_div {
 padding: 2em 2em 2em 2em;
 float: right;
}

.tab {
 background-color: rgb(255,0,0);

 padding: .5em .5em .25em .5em;
 float: left;
 border-radius: 15px 15px 0px 0px;
 cursor: pointer;

 border-left: 5px solid rgb(20,20,235);
 border-right: 5px solid rgb(20,20,235);
 border-top: 5px solid rgb(20,20,235);

 margin-top: 0px;
 padding-bottom: 5px;

 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.non_selected_tab:hover {
 background-color: rgb(255,0,0);
}

.non_selected_tab {
 background-color: rgb(185,70,70);
 padding-bottom: 0px !important;
}

.app_container {
 border-radius: 0px 15px 15px 15px;
 border: 5px solid rgb(20,20,235);
 background-color: rgb(255,0,0);
 margin-top: -5px;
}

.hide_until_init {
 visibility: hidden;
}

.clear {
 clear: both;
}
